<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script rel="text/javascript" src="/lib/javascripts/jquery.min.js"></script>
    <script rel="text/javascript" src="/lib/javascripts/faye.js"></script>
    <script>
      var client;
      var myid;
      $(document).ready(function(){

        /**
         * [s4 description]
         * @return {[type]} [description]
         */
        function s4() {
          return Math.floor((1 + Math.random()) * 0x10000)
                     .toString(16)
                     .substring(1);
        };

        /**
         * [guid description]
         * @return {[type]} [description]
         */
        function guid() {
          return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                 s4() + '-' + s4() + s4() + s4();
        }

        //Publishing messages to everyone
        $("#send").click(function(){
          var val = $("#tosend").val();
          console.log(val);
          if(val.trim() != ""){
            client.publish("/channel", myid + ": " +val, function(err){
              console.log( "Error ",err );
            });
            $("#tosend").val("");
          }
        });

        /**
         * [Init description]
         */
        function Init(){
          myid = guid();

          //creating new client
          client = new Faye.Client('http://localhost:3000/faye', {
            timeout : 120
          });

          //Subsribing to channel
          client.subscribe('/channel', function(message){
            $("#messages").append("<p>" + message + "</p>");
          });
        }
        
        //Initialize everything
        Init();
      });
      
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Your post will be displayed under this paragraph</p>
    
    <input id="tosend" type="text" style="width:500px" placeholder="Type your message here" />
    <button id="send">Send</button>

    <!-- Faye messages -->
    <div id="messages">

    </div>
  </body>
</html>