<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
  <head>
    <title><%= title %></title>
    <!-- Styles -->
    	<link rel="stylesheet" href="/lib/css/bootstrap.css">
    	<link rel="stylesheet" href="/lib/css/font-awesome-4.0.0/css/font-awesome.min.css">
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- END Styles -->

    <!-- Scripts -->
    	<script type="text/javascript" src="/lib/js/angular.min.js"></script>
    	<script type="text/javascript" src="/lib/js/angular-route.min.js"></script>
    	<script type="text/javascript" src="/lib/js/angular-animate.min.js"></script>
    	<script type="text/javascript" src="/lib/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
    	<script type="text/javascript" src="/javascripts/index.js"></script>
    <!-- END Scripts -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- Global Container -->
    <div ng-view="">

    </div>
    <!-- END Global Container -->
  </body>
</html>

