<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/lib/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/lib/javascripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="MyApp">
    <h1><%= title %></h1>
    <p ng-view=""></p>
  </body>
</html>