<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div id="first"></div>

    <script type="text/javascript" src="bower_components/react/react.min.js"></script>
    <script src="javascripts/first.js"></script>
  </body>
</html>