<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="lib/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="lib/javascripts/faye.js"></script>
    <script type="text/javascript" src="javascripts/canvasScript.js"></script>
  </head>
  <body>
    <!-- Container -->
    <div id="container">
    	<canvas id="imageView" width="500" height="500">
    		<p> Your Browser does not support canvas</p>
    	</canvas>
    </div>
    <!-- END Container -->
  </body>
</html>